<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybabthis.mappers.BoardMapper">

	<select id="selectAllMeetingToCount" parameterType="INTEGER"
		resultType="integer">
		select count(*)
		from  board
		where board_type in('m', 'M')
		
	</select>
	
	<select id="selectAllBoardToCount" parameterType="INTEGER"
		resultType="integer">
		select count(*)
		from  board
		where board_type in('f', 'F')
		
	</select>
	
	<select id="selectAllCommentInBoard" parameterType="INTEGER"
		resultType="Board">
		select *
		from board
		where board_type in('f', 'F')
		order by board_no desc
	</select>
	
	
	<select id="selectAllCommentInMeeting" parameterType="INTEGER"
		resultType="Board">
		select *
		from board
		where board_type in('m', 'M')
		order by board_no desc
	</select>
	
	<!-- 게시판 생성 boardType = 'F' -->
	<insert id="createBoard" parameterType="Board">
		insert into board
		(board_title, board_content, board_type, user_id)
		values(#{boardTitle}, #{boardContent}, #{boardType}, #{userId})
	</insert>


	<!-- 게시글 수정 : 작성일 그대로, 수정일 현재날짜 -->
	<update id="updateBoard" parameterType="Board">
		update board
		set
		board_title=#{boardTitle},
		board_content=#{boardContent},
		board_updatedate=sysdate
		where board_no=#{boardNo}
	</update>


	<!-- 게시글 삭제 -->
	<delete id="deleteBoard" parameterType="int">
		delete from board
		where
		board_no=#{boardNo}
	</delete>


	<!-- 게시글 하나 조회 -->
	<select id="selectBoardByNo" parameterType="int" resultType="Board" > 
		select *
		from board
		where board_no=#{boardNo}
	</select>
	

	<!-- 게시판 목록에서 게시글 모두 조회 -->
	<select id="selectAllBoard" resultType="Board">
		select *
		from board
		order by board_no desc
	</select>
	
	
	<!-- 자유게시판의 게시글  모두 조회 -->
	<select id="selectBoardByFree" parameterType="String" resultType="Board">
		select *
		from board
		where board_type in('f', 'F')
		order by board_no desc
	</select>
	
	<!-- 번개모임의 게시글  모두 조회 -->
	<select id="selectBoardByMeeting" parameterType="String" resultType="Board">
		select *
		from board
		where board_type in('m', 'M')
		order by board_no desc
	</select>
	
	
	<!-- 게시판 목록에서 페이지 단위로 게시글 조회 -->
	<select id="selectBoardByPage" parameterType="int" resultType="Board">
		select *
		from board
		order by board_no desc
	</select>
	
</mapper>