<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="proj.Mapper">

 <!--  즐겨찾기 추가 -->
<insert id="createFavorite" parameterType="Favorite">
    
     insert into favorite
		(
		user_id, 
		res_no)
		values( #{userId},#{resNo})
    </insert>

<!-- 즐겨찾기삭제 -->

<delete id="deleteFavorite" parameterType="Favorite">
   delete from favorite
   where res_no=#{resNo} and user_id=#{userId}
   </delete>



<!-- 유저 아이디로 즐겨찾기 목록 가져오기 -->
<select id="selectFavoriteByUserId" parameterType="String" resultType="Integer">
select res_no
from favorite
where user_id=#{userId}

</select>

<select id="selectResByResNo" parameterType="Favorite" resultType="Restaurant">
select *
from favorite,restaurant
where favorite.res_no=restaurant.res_no;
</select>


</mapper>