<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybabthis.mappers.LicenseMapper">

	<!-- 친구 추가 -->
	<select id="selectLicense" parameterType="hashMap" resultType="Friend">
		SELECT *
		FROM license
		WHERE write_cnt = (
			select count(rev.review_no)
			from review rev, license lic, restaurant res
			where rev.userId=#{user.userId}
			and lic.loc_name = res.loc_name
			and lic.loc_name = #{loc.locName}
			and	res.res_no = rev.res_no
		)
	</select>

</mapper>