<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybabthis.mappers.MsgMapper">


	<insert id="sendMsg" parameterType="Msg">
		insert into
		msg (sender,
		receiver, msg_content, write_type)
		values(#{sender},#{receiver},#{msgContent},'N')
	</insert>

	<insert id="sendReport" parameterType="Msg">
		insert into
		msg (sender,
		receiver, msg_content, write_type)
		values(#{sender},'admin',#{msgContent},#{writeType})
	</insert>

	<delete id="deleteMsg" parameterType="integer">
		delete from msg
		where msg_no=#{msgNo}
	</delete>

	<select id="selectMsgByReceiver" resultType="Msg">
		select *
		from msg
		where receiver=#{receiver} and write_type='N'
		order by msg_no desc
	</select>
	
	<select id="selectMsgBySender" resultType="Msg">
		select *
		from msg
		where sender=#{sender} and write_type='N'
		order by msg_no desc
	</select>
	

	<select id="selectReport" resultType="Msg">
		select *
		from msg
		where
		receiver=#{admin} and write_type!='N'
		order by msg_no desc
	</select>

</mapper>






