<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- db.properties설정 -->
	<properties resource="oracle.properties"></properties>
	<settings>
		<!-- camelcase 자동 매핑 설정 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<typeAliases>
		<typeAlias type="mybabthis.entity.Users" alias="Users" />
		<typeAlias type="mybabthis.entity.Review" alias="Review" />
		<typeAlias type="mybabthis.entity.Board" alias="Board" />
	    <typeAlias type="mybabthis.entity.Rreply" alias="Rreply" />
	    <typeAlias type="mybabthis.entity.Breply" alias="Breply" />
	    <typeAlias type="mybabthis.entity.Restaurant" alias="Restaurant" />
	    <typeAlias type="mybabthis.entity.Favorite" alias="Favorite" />
	    <typeAlias type="mybabthis.entity.Restaurant" alias="Restaurant" />	    
	    <typeAlias type="mybabthis.entity.Msg" alias="Msg" />	  
	    <typeAlias type="mybabthis.entity.Friend" alias="Friend" />	
	    <typeAlias type="mybabthis.entity.License" alias="License" />	
	    <typeAlias type="mybabthis.entity.LicensedUser" alias="LicensedUser" />	
	</typeAliases>
	<mappers>
		<mapper resource="mappers/UserMapper.xml" />
		<mapper resource="mappers/ReviewMapper.xml" />
		<mapper resource="mappers/BoardMapper.xml"/>
		<mapper resource="mappers/RreplyMapper.xml"/>
		<mapper resource="mappers/RestaurantMapper.xml"/>
	    <mapper resource="mappers/BreplyMapper.xml"/>
	    <mapper resource="mappers/FavoriteMapper.xml"/>
	    <mapper resource="mappers/MsgMapper.xml"/>
	    <mapper resource="mappers/FriendMapper.xml"/>
	    <mapper resource="mappers/LicenseMapper.xml"/>
	</mappers>
</configuration>
